<p class = "sideMenuText"><strong>Main Menu</strong></p>
<li><a  href="<%=root %>/user/dashboard">Dashboard</a></li>
<li><a  href="<%=root %>/user/shoppinglist">Shopping List</a></li>
<li><a  href = "<%=root%>/user/search">Search</a></li>
<li><a  href="#">Settings</a></li>