body {
  background-color: whitesmoke;
}

.foodsection {
  margin-left: 30px;
  margin-right: 50px;
}

.recfoods {
  visibility: hidden;
}

#tabsBar {
  padding-left: 5px;
}

.sideMenuText {
  margin-left: 10px;
  color: #ee7176;
}

.activeText {
  color: #ee7176;
}

.passiveText {
  color: #f3979a;
}

.simpleText {
  color: #f3979a;
}

.fullWidthButton {
  width: 100%;
}

#sideMenu {
  text-decoration: none;
  font-size: 18px;
}

.sideMenuItem {
  margin-top: 20px;
}

a:hover {
  color: #ee7176;
}

.menuLabel {
  color: #f3979a;
  font-size: 20px;
  margin-top: 32px;
}
