<ol>
<li>Combine all the ingredients for the marinade together, whisk to combine well</li>
<li>Marinade the salmon for 15 minutes</li>
<li>Place in the oven for 12 minutes and cool it down</li>
</ol>
