<ol>
<li>Put and mix the flour, egg, milk and sugar into a bowl</li>
<li>Head the pan an cook banana over medium heat</li>
<li>Pour the batter into a pan</li>
<li>Fill the bottom half of the pancake with banana filling and serve</li>
</ol>
