<ol>
<li>Grease the mini loaf pans with butter</li>
<li>Place butter, sugar, egg, milk and vanilla extract in a bowl and whisk for 2 minutes</li>
<li>Combine the flour and stir into the creamed mixture</li>
<li>Put the blueberries in</li>
<li>Transfer the batter into the pans. Bake for 30 minutes</li>
</ol>
