<ol>
<li>Add 10 cups water to the rice and set it on the stove to boil</li>
<li>When water comes to boil, remove lid, add chicken breasts</li>
<li>Add ginger to the porridge</li>
<li>Serve immediately with a sprinkling of green onions</li>
</ol>
