<ol>
<li>Cut the chicken into large chunks</li>
<li>In a bowl, put mayonnaise and lemon juices until it reached the balance you want</li>
<li>Chopped the bell pepper and celey</li>
<li>Dice the chicken and mix with dressing and vegetables and serve</li>
</ol>
