<ol>
<li>Spread the butter on the pot</li>
<li>Add the frozen sweet corn and stir</li>
<li>Add the mild, whipping cream into the pot</li>
<li>Then, add parmesan cheese and stir until the sause thickens and creamy</li>
</ol>
