<ol>
<li>Rinse the chicken with water</li>
<li>In a big bowl, whisk the egg white, corn starch and flour together</li>
<li>Coat the chicken</li>
<li>Heat up a pot of cooking oil and drop the chicken until crispy</li>
</ol>
