<ol>
<li>Add 1 scant tablespoon of jam in the middle of the puff pastry square</li>
<li>Fold over to form a triangle shape</li>
<li>Using the back of the spoon to press on the edges and make sure the openings are sealed tight</li>
<li>Brush the melted butter on the surface and top with some coarse sugar</li>
<li>Bake in the oven for 10 to 12 minutes, or until the puff pastry turn golden brown</li>
<li>Remove from the oven and serve warm</li>
</ol>
