<ol>
<li>Bring a large pot of lightly salted water to a boil</li>
<li>Cook macaroni in the boiling water, stirring occasionally until cooked through but firm to the bite</li>
<li>stir in flour, salt, and pepper until smooth then slowly pour milk</li>
<li>Add Cheddar cheese to milk mixture and stir until cheese is melted</li>
<li>Put macaroni into cheese sauce until coated</li>
</ol>
