<ol>
<li>In a small bowl, add the sugar, water and yeast together and stir</li>
<li>Cover the dough with damp cloth for 60 minutes</li>
<li>Divide the dough into 8 equal</li>
<li>Heat up a skillet and grease the surface with oil</li>
<li>Flip it over when burnt spots appear</li>
<li>Repeat the same until all dough are done</li>
</ol>
