<ol>
    <li>Rinse the rice and add coconut milk</li>
    <li>Rinse anchovies and fry</li>
    <li>Boiled the egg and slice the cucumber</li>
    <li>Dish up the steamed coconut milk rice and pour some sambal ikan bilis in the rice</li>
    <li>Serve with the fried achovies, cucumber slices and boiled eggs</li>
</ol>