<ol>
<li>Mix flour, chili paste and water and stir until texture is smooth</li>
<li>Chop and throw in the chopped onions and prawns and combine</li>
<li>Heat a large pot with cooking oil and scoop a spoonful of the micture and drop into the pot until it turn golden brown colour</li>
</ol>
