<ol>
<li>Rinse potatoes and pat dry with paper towels</li>
<li>Slice the bigger potatoes horizontally</li>
<li>Transfer the potatoes to an oven-safe skillet</li>
<li>Add the olive oil, garlic powder, salt, ground black pepper, garlic and chopped parsley. Stir to combine well</li>
<li>Transfer the skillet to the oven and roast for 20 minutes</li>
</ol>
