<ol>
<li>Add the milk, yeast and sugar in the bowl and stir the mixture</li>
<li>Add the flour to the yeast mixture and knead the ingredients until it forms a smooth dough</li>
<li>Roll the dough into a log and cut into 8 equal size</li>
<li>Place the dough into steamer until it ready</li>
</ol>
